:root {
    --navy: #1F3134;
    --yellow: #DDD631;
    --green: #38B48B;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    margin: 0; padding: 0;

    font-family: Zen;
    color: white;
}

html, body {
    height: 100%;
    background-color: var(--green);
    padding: 20px;
}

@font-face {
    font-family: Zen;
    src: url("../fonts/ZenMaruGothic-Regular.ttf");
}

h3 { letter-spacing: 4px; padding: 5px 0; }
ul, ol { padding: 10px 20px; }
